.mr3 {
    margin-right: 3px;
}

.ml3 {
    margin-left: 3px;
}

.br10 {
    border-radius: 10px;
}

.pl-7px {
    padding-left: 7px;
}

.no-underline {
    text-decoration: none;
}

.row>* {
    padding-right: unset;
    padding-left: unset;
}

.tracking-history-p {
    margin-bottom: 3px;
}

.tracking-hr {
    margin-top: 3px
}

.tracking-table {
    position: relative;
}

.tracking-amount {
    position: absolute;
    right: 0;
}


.tracking-th {
    width: 10%;
}

.small-font {
    font-size: 13px;
}

.icon-red {
    color: #dc3545!important;
}

.icon-green {
    color: #198754!important;
}