{% extends "layout.html" %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-start">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
        <span class="navbar-brand mb-0 h1 pl-7px">Hi Prosper</span>
    </div>
</nav>


<div class="container-sm mt-4">

    <!-- Card section -->
    <section class="container">
        <div class="row">
            <a href="{{ url_for('debts_page') }}" class="w-40 col no-underline">
                <div class="card text-white bg-danger mb-3 ml3 br10">
                    <div class="card-header">Debts <i class="fa-solid fa-up-long"></i></div>
                    <div class="card-body">
                    <h6 class="card-title">₦30,000.00</h6>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('dough_page') }}" class="w-40 col no-underline">
                <div class="card text-white bg-success mb-3 w-40 col ml3 br10">
                    <div class="card-header">Dough <i class="fa-solid fa-down-long"></i></div>
                    <div class="card-body">
                    <h6 class="card-title">₦70,000.00</h6>
                    </div>
                </div>
            </a>
        </div>
    </section>

    {% include 'tracking-history.html' %}
    
</div>

{% endblock %}