{% extends "page_layout.html" %} {% block main_content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h3 mb-0">Welcome, {{user.get('username', '')}}!</h1>
</div>

<section class="d-flex justify-content-between mb-4">
  <a href="{{ url_for('debts_page') }}" class="text-decoration-none w-50 me-2">
    <div class="card text-white bg-danger shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Debts <i class="fa-solid fa-arrow-up"></i></h5>
        <p class="card-text fs-4">₦{{user.get('debts_display', '0.00')}}</p>
      </div>
    </div>
  </a>

  <a href="{{ url_for('dough_page') }}" class="text-decoration-none w-50 ms-2">
    <div class="card text-white bg-success shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Dough <i class="fa-solid fa-arrow-down"></i></h5>
        <p class="card-text fs-4">₦{{user.get('dough_display', '0.00')}}</p>
      </div>
    </div>
  </a>
</section>

<section class="row mt-4">
  <div class="col-md-6">
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <div id="debtChart" style="height: 400px"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <div id="doughChart" style="height: 400px"></div>
      </div>
    </div>
  </div>
</section>

<script>
  // Chart data will be populated by Flask
  const debtData = {{ debt_chart_data | tojson }};
  const doughData = {{ dough_chart_data | tojson }};
  const formattedDebtData = debtData.labels.map((label, index) => {
    return [new Date(label).getTime(), debtData.values[index]];
  });
  const formattedDoughData = doughData.labels.map((label, index) => {
    return [new Date(label).getTime(), doughData.values[index]];
  });

  // Render Dough Chart
  var chartOptions = (chartName, chartData) => {
    return {
      series: [{
        name: chartName,
        data: chartData
      }],
      chart: {
        height: 350,
        type: 'line',
        zoom: {
          enabled: true,
          type: 'x',
          autoScaleYaxis: true
        },
        toolbar: {
          autoSelected: 'pan',
          show: true,
          tools: {
            pan: true,
            zoom: true,
            reset: true,
            zoomin: true,
            zoomout: true
          }
        }
      },
      xaxis: {
        type: 'datetime',
        range: 365 * 24 * 60 * 60 * 1000 // 7 days in ms
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return "₦ " + val;
          }
        }
      }
    };
  }

  var debtChart = new ApexCharts(document.querySelector("#debtChart"), chartOptions("Debts", formattedDebtData));
  debtChart.render();

  var doughChart = new ApexCharts(document.querySelector("#doughChart"), chartOptions("Dough", formattedDoughData));
  doughChart.render();
</script>

{% endblock %}
