{% extends "layout.html" %}
{% block content %}

<div class="container mt-5" style="max-width: 600px;">
    <h3 class="mb-3">Sign Up</h3>
    
    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <div id="emailHelp" class="form-text mt-4">Already have an account? <a href="{{ url_for('login_page') }}">Login</a></div>
    </form>
</div>


{% endblock %}