<!-- Tracking history section -->
<section class="mt-3">
	<p class="tracking-history-p">Tracking history</p>
	<hr class="tracking-hr">

	{% if not user.get('transactions') %}
		<!-- Display when there is no tracking data -->
		<div>
			<img src="/static/assets/No-data-storyset-illustration.png" alt="Gif indicating an empty tracking history"  class="m-auto" style="display: block; width: 200px;">
			<p style="text-align: center;">Your tracking history is empty</p>
		</div>
	{% else %}
		<!-- Display the tracking history -->
		<div>
			<table class="table table-borderless tracking-table">
				<tbody>
					{% for transaction in user.get('transactions') %}
						{% if transaction.get('type') == 'debt' %}
							<tr>
								<th scope="row" class="tracking-th"><i class="fa-solid fa-down-left-and-up-right-to-center icon-red"></i></th>
								<td class="small-font">{{ transaction.get('description') }}</td>
								<td class="">
									<span class="tracking-amount small-font data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{transaction.get('created_at')  }}">
										₦{{ transaction.get('amount_display') }}
									</span>
								</td>
							</tr>
						{% else %}
							<tr>
								<th scope="row" class="tracking-th"><i class="fa-solid fa-down-left-and-up-right-to-center icon-green"></i></th>
								<td class="small-font">{{ transaction.get('description') }}</td>
								<td class="">
									<span class="tracking-amount small-font" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{transaction.get('created_at')  }}">
										₦{{ transaction.get('amount_display') }}
									</span>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
</section>